doctype html
html
	head(lang="ko")
		title shawn's dev log
	body
		#s-wrapper
			h2=msg
			p
				a(href="/user/signup") 회원가입
			if (isLogin)
				p
					a(href="/user/logout") 로그아웃
			else
				p
					a(href="/user/login") 로그인


